# Servidor
PORT=3000
HTTPS=nao

# Certificados ADP (path absoluto recomendado em produção)
CERT_KEY=./certs/client.key
CERT_CRT=./certs/client.cer

# Credenciais ADP
CLIENT_ID=seu_client_id
CLIENT_SECRET=seu_client_secret
URL_ADP=https://api.adp.com

# Conexão Senior G5
URL_G5=http://servidor-senior:8080
MODULO_G5=FP
USUARIO_G5=usuario
SENHA_G5=senha
WEB_SERVICE_G5=http://servidor-senior:8080/g5-senior-services/sapiens_Synccom_senior_gs_rh_fp_colaboradores

# Configuração de envio
BATCH_SIZE=50
ALLOW_CONCURRENT=false

# Desenvolvimento
USE_MOCK=false